@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 223 30% 9%;
    --foreground: 0 0% 100%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 220 7% 74%;

    --popover: 222 51% 13%;
    --popover-foreground: 0 0% 100%;

    --card: 222 26% 13%;
    --card-foreground: 0 0% 100%;

    --border: 222 38% 19%;
    --input: 222 26% 13%;

    --primary: 219 17% 20%;
    --primary-foreground: 0 0% 100%;

    --secondary: 222 29% 24%;
    --secondary-foreground: 221 8% 46%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;

    --alert: 45, 68%, 58%, 1;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}
